# Expo
.expo/
.expo-shared/
dist/
web-build/

# Dependencies
node_modules/

# Environment variables
.env
.env*.local

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# Testing
/coverage

# TypeScript
*.tsbuildinfo

# Temporary files
.metro-health-check*
*.orig.*

# Build outputs
apps/
